{{ define "main" }}
  <article>
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            <!-- Tags -->
            {{- with .Params.tags }}
              <div>
                {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
                {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end }}
                {{- end }}
              </div>
            {{- end }}

            <!-- Description -->
            <p class="auto">{{ .Params.abstract }}</p>

            <!-- Date & time to read -->
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
              {{ .PublishDate.Format "Jan 2, 2006" }}
              <span class="posts-list-item-separator">-</span>
              {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
              {{ .ReadingTime }} min read
            </div>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
